# compiled output
/dist
/*.js
/*.js.map
/*.d.ts

# dependencies
npm
node_modules

# IDE - VSCode
.vscode
*.code-workspace

# IDE - Webstorm/IntelliJ
.idea

# environment variables
.env

# system files
.DS_Store
Thumbs.db